.home{
	background: radial-gradient(#F08080, #728FCE);
}
.halloween{
	background: radial-gradient(#0C090A, #C12283)
}
.button{
	background: #fff8dc;
	color: black;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
}
/*.button:hover{
	background: #ffd700;
}*/
.artwall{
	background: radial-gradient(#F08080, #728FCE)
}
.copyright{
	text-align: center;
}
